/Entidad.class
/enfocable.class
/gema.class
/gemaEnvuelta.class
/gemaNormal.class
/gemaRayada.class
/gemaRayadaHorizontal.class
/gemaRayadaVertical.class
/hielo.class
/intercambiable.class
/obstaculo.class
/roca.class
/entidad.class
