/AnimadorIntercambio.class
/Animador.class
/AnimadorCambioEstado.class
/AnimadorMovimiento.class
/CentralAnimaciones.class
/ManejadorAnimaciones.class
/AnimadorCronometro.class
/AnimadorExplosion.class
